* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1, h2{
    text-align: center;
    color: #ffffff;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:gray;
}

button{
    width: 60px;
    height: 30px;
    background-color: rgb(51, 51, 51);
    color: white;
    justify-content: space-around;
    cursor: pointer;
    margin-bottom: 5px;
}

button:hover{
    background-color: rgb(83, 82, 82);
}

#botaoMaior{
    width: 124px;
    height:30px;
    background-color: orange;
    color: #ffffff;
}

#botaoMaior:hover{
    background-color: rgb(255, 94, 0);
}

#botaoMaiorAc{
    width: 124px;
    height:30px;
}


#resultado{
    width: 250px;
    height: 40px;
    background-color: black;
    color: #ffffff;
    margin-bottom: 5px;
    border-color: white;
    text-align: right;
}

#valor1, #valor2{
    width: 122px;
    height: 40px;

}

.calculadora{
    width: 295px;
    height: 290px;
    background-color: rgb(38, 39, 43);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

.resultados{
    width: 295px;
    height: 290px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

.historico{
    width: 295px;
    height: 290px;
    background-color: rgb(38, 39, 43);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}